/* /////////////////////////////////////////////////////////// */
/* /// GENERAL LAYOUT /// */
/* /////////////////////////////////////////////////////////// */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600');

@mixin vertical-align {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

html {
    height: 100%;
}

body {
    min-height: 375px;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #3f4657;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* /////////////////////////////////////////////////////////// */
/* /// HOMEPAGE LAYOUT /// */
/* /////////////////////////////////////////////////////////// */

    div.container-first {
        @media screen and (min-width: 728px) {
            width: 50%;
            height: 100%;
            float: left;
            position: relative;
        }
    }

        div.left-section {
            position: relative;
            @media screen and (min-width: 728px) {
                height: 100%;
                width: 100%;
                max-width: 728px;
                float: right;
            }
        }

            .content-left-section {
                width: calc(100% - 48px);
                max-width: 520px;
                margin: 0 auto;
                overflow: auto;
                @media screen and (min-width: 728px) {
                    max-width: 450px;
                    height: 100%;
                    position: relative;
                }
            }

                header.header-homepage {
                    margin: 40px 0 60px;
                    position: relative;
                    @media screen and (min-width: 728px) {
                    }
                }

                    a.logo {
                        line-height: 0;
                        text-decoration: none;
                        path {
                            transition: all 0.15s ease;
                        }

                        &:hover {
                            path {
                                fill: #8d4993;
                                cursor: pointer;
                            }
                        }
                    }

                    a.bookmarks--quotes {
                        @include vertical-align;
                        @media screen and (min-width: 500px) {
                          width: 192px;
                        }
                        right: 0;
                        padding-top: 2px;
                        text-decoration: none;
                        color: #fff;
                        transition: all 0.15s ease;
                        #bookmarks {
                            transition: all 0.15s ease;
                        }
                        .bookmarks-text {
                          display: none;
                          @media screen and (min-width: 500px) {
                            display: inline-block;
                          }
                          font-size: 20px;
                          font-family: 'Montserrat', sans-serif;
                          font-weight: 600;
                          @include vertical-align;
                          margin-left: 10px;
                        }
                        &:hover {
                          color: #8d4993;
                            #bookmarks {
                                fill: #8d4993;
                                cursor: pointer;
                            }
                        }

                    }

                    a.bookmarks--index {
                        @include vertical-align;
                        @media screen and (min-width: 900px) {
                          width: 192px;
                        }
                        right: 0;
                        padding-top: 2px;
                        text-decoration: none;
                        color: #3f4657;
                        transition: all 0.15s ease;
                        #bookmarks {
                            transition: all 0.15s ease;
                        }
                        .bookmarks-text {
                          display: none;
                          @media screen and (min-width: 900px) {
                            display: inline-block;
                          }
                          font-size: 20px;
                          font-family: 'Montserrat', sans-serif;
                          font-weight: 600;
                          @include vertical-align;
                          margin-left: 10px;
                        }
                        &:hover {
                          color: #8d4993;
                            #bookmarks {
                                fill: #8d4993;
                                cursor: pointer;
                            }
                        }

                    }


                .main-top {
                    @media screen and (min-width: 728px) {
                        @include vertical-align;
                    }

                    @media screen and (min-width: 728px) and (max-height: 570px) {
                        padding-top: 60px;
                    }

                    h1 {
                        max-width: 400px;
                        margin-bottom: 16px;
                        font-size: 40px;
                        font-weight: 600;
                        line-height: 1.2;
                        text-align: left;
                    }

                    p {
                        margin-bottom: 64px;
                        font-size: 18px;
                        font-weight: 300;
                        line-height: 1.56;
                        text-align: left;
                        @media screen and (min-width: 728px) {
                            max-width: 400px;
                        }
                    }
                }

                footer#desktop-footer {
                    @media screen and (max-width: 728px) {
                        display: none;
                    }
                    height: 51px;
                    width: 295px;
                    position: absolute;
                    bottom: 0;

                    p {
                        font-size: 16px;
                        font-weight: 300;
                        text-align: center;

                        a.strong-text {
                            color: #3f4657;
                            font-weight: 400;
                            text-decoration: none;
                            border-bottom: 1px solid transparent;
                            transition: all 0.15s ease;

                            &:hover {
                                color: #8d4993;
                                border-color: #8d4993;
                                cursor: pointer;
                            }
                        }

                    }
                }

    div.container-second {
        background-image: linear-gradient(150deg, #c36ecb, #7989d8);
        @media screen and (min-width: 728px) {
            width: 50%;
            height: 100%;
            padding-left: 10px;
            box-sizing: border-box;
            float: right;
            position: relative;
        }
    }

            div#left-cover {
                @media screen and (max-width: 728px) {
                    display: none;
                }
                @media screen and (min-width: 728px) {
                    height: 100%;
                    width: 50px;
                    background: url("../images/left-cover.svg") top left no-repeat;
                    background-size: contain;
                    position: absolute;
                    left: -1px;
                }
            }

            div.scroll-right-section {
                @media only screen and (min-width: 728px) and (max-height: 600px) {
                    overflow-y: scroll;
                }
                height: 100%;

            }
                div.right-section {
                    position: relative;
                    @media screen and (min-width: 728px) {
                        width: 100%;
                        height: 100%;
                        max-width: 728px;
                        float: left;
                        position: relative;
                    }
                }


        main.content-right-section {
            width: calc(100% - 48px);
            max-width: 520px;
            margin: 0 auto;
            @media screen and (max-width: 728px) {
                padding: 30px 0;
            }
            @media screen and (min-width: 728px) {
                max-width: 450px;
                height: 100%;
                position: relative;
            }
        }

        section.list {
            position: relative;

            @media screen and (min-width: 728px) and (max-height: 600px) {
                padding: 40px 0 40px;
            }

            @media screen and (min-width: 728px) and (min-height: 600px) {
                @include vertical-align;
                width: 100%;
                padding: 33px 0px;
            }
        }

            div#top-cover {
                @media screen and (min-width: 728px) {
                    display: none;
                }
                height: 30px;
                background: url("../images/top-cover.svg") top left no-repeat;
                background-size: contain;
                position: relative;
                top: -1px;
            }

            div#bottom-cover {
                @media screen and (min-width: 728px) {
                    display: none;
                }
                height: 30px;
                background: url("../images/top-cover.svg") top left no-repeat;
                -webkit-transform: scaleY(-1);
                transform: scaleY(-1);
                background-size: contain;
                position: relative;
                bottom: -1px;
            }

            ul.mood-list {

                li.mood-item-container {
                    margin-bottom: 16px;

                    &:last-of-type {
                        margin-bottom: 0px;
                    }
                }

                    a.mood-item {
                        display: block;
                        background-color: #e1e2e5;
                        padding-bottom: 5px;
                        border-radius: 4px;
                        font-size: 20px;
                        color: #3f4657;
                        line-height: 1.8;
                        text-align: left;
                        text-decoration: none;
                        transition: all 0.15s ease;

                        &:hover {
                            background-color: darken(#e1e2e5, 5%);

                            span {
                                background-position: right 16px center;
                                background-color: darken(white, 5%);
                            }
                        }

                        span {
                            position: relative;
                            display: block;
                            padding: 10px 40px 10px 20px;
                            background: url('../images/chevron.svg') no-repeat;
                            background-position: right 20px center;
                            background-color: white;
                            transition: all 0.15s ease;
                            border-radius: 4px;
                        }
                    }
            }

        footer#mobile-footer {
            height: 51px;
            padding-top: 32px;
            @media screen and (min-width: 728px) {
                display: none;
            }

            p {
                font-size: 16px;
                font-weight: 300;
                text-align: center;

                a.strong-text {
                    font-weight: 400;
                    text-decoration: none;
                    color: #3f4657;
                    border-bottom: 1px solid transparent;
                    transition: all 0.15s ease;

                    &:hover {
                        color: #8d4993;
                        border-color: #8d4993;
                        cursor: pointer;
                    }
                }
            }
        }


/* /////////////////////////////////////////////////////////// */
/* /// BOOKMARKS LAYOUT /// */
/* /////////////////////////////////////////////////////////// */

.back-arrow {
    margin: 0 15px 4px 0;
}

#main-paragraph {
    margin-bottom: 14px;
}

div#container-bookmarks {
    background-image: linear-gradient(166deg, #fba34a, #e86591 53%, #a061bb);
}

    div#left-cover-bookmarks {
        @media screen and (max-width: 728px) {
            display: none;
        }
        @media screen and (min-width: 728px) {
            height: 100%;
            width: 50px;
            background: url("../images/left-cover.svg") top left no-repeat;
            background-size: contain;
            position: absolute;
            left: -1px;
        }
    }

    div#top-cover-bookmarks {
        @media screen and (min-width: 728px) {
            background: none;
            padding: 0;
        }
        height: 100%;
        padding-top: 24px;
        background: url("../images/top-cover-bookmarks.svg") top left no-repeat;
        background-size: contain;
        position: relative;
        top: -1px;
    }

    main#content-right-section-bookmarks {
        width: calc(100% - 48px);
        max-width: 520px;
        margin: 0 auto;
        @media screen and (min-width: 728px) {
            max-width: 450px;
            height: 100%;
            position: relative;
        }
    }

        div#scroll-bookmarks {
            @media screen and (min-width: 728px) {
                overflow-y: scroll;
            }
        }

            section#bookmarks-list {
                top: 0;
                transform: translateY(0%);
            }

        ul.bookmarks-list {

            li.bookmarks-item-container {
                margin-bottom: 16px;
                background-color: #e1e2e5;
                border-radius: 4px;
                padding-bottom: 5px;

                &:last-of-type {
                    margin-bottom: 0px;
                }
            }

                div.quote-head {
                    height: 86px;
                    background-color: white;
                    padding: 24px 24px 24px 24px;
                    box-sizing: border-box;
                    border: 1px solid #e0e1e4;
                    border-radius: 4px 4px 0px 0px;

                    h3 {
                        opacity: 0.8;
                        font-size: 15px;
                        font-weight: 600;
                        color: #3f4657;
                        margin-bottom: 5px;
                    }

                    span.date-of-bookmark {
                          opacity: 0.8;
                          font-size: 14px;
                          font-weight: 300;
                    }
                }

                    div.quote-title {
                        float: left;
                    }

                    .share-bookmark {
                        float: right;
                        margin-top: 5px;
                        margin-right: 15px;
                        transition: all 0.15s ease;

                        path {
                            transition: all 0.15s ease;
                        }

                        &:hover {
                            cursor: pointer;

                            path {
                                fill: #8d4993;
                            }
                        }
                    }

                    div.remove-bookmark {
                        float: right;
                        margin-top: 4px;
                        #remove-bookmark {
                            transition: all 0.15s ease;
                        }

                        &:hover {
                            #remove-bookmark {
                                fill: #FF3D00;
                                cursor: pointer;
                            }
                        }
                    }

                div.bookmarks-item {
                    padding-bottom: 5px;
                    border-radius: 0px 0px 4px 4px;
                    background-color: white;
                    color: #3f4657;
                    text-align: left;
                    text-decoration: none;
                    transition: all 0.15s ease;

                    span.bookmarked-quote {
                        position: relative;
                        display: block;
                        padding: 20px 40px 16px 24px;
                        font-size: 20px;
                        font-weight: 300;
                        line-height: 1.4;
                        transition: all 0.15s ease;
                        border-radius: 0px 0px 4px 4px;
                    }

                    span.bookmarks-line {
                        padding-left: 24px;
                    }

                    span.bookmarked-quote-author {
                        display: block;
                        opacity: 0.8;
                        padding: 10px 40px 20px 24px;
                        font-size: 16px;
                        font-weight: 600;
                    }
                }
        }


/* /////////////////////////////////////////////////////////// */
/* /// QUOTES LAYOUT /// */
/* /////////////////////////////////////////////////////////// */


.quotes-body {
    height: 100%;
    background: linear-gradient(151deg, #2E3192, #1BFFFF);
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

  .quotes-body-over {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(151deg, #2E3192, #1BFFFF);
    position: absolute;
    z-index: 1;
  }

    .quotes-header {
        position: absolute;
        top: 44px;
        left: 7vw;
        right: 7vw;
        z-index: 99;
    }

      .quotes-header__logo {
        display: inline-block;
        line-height: 0;
        text-decoration: none;
        opacity: 0.8;
        transition: all 0.15s ease;
        &:hover {
          opacity: 1;
        }
      }

      .quotes-header__bookmarks {
        @include vertical-align;
        @media screen and (min-width: 500px) {
          width: 192px;
        }
        right: 0;
        padding-top: 2px;
        text-decoration: none;
        color: #fff;
        opacity: 0.8;
        transition: all 0.15s ease;
        .bookmarks-text {
          display: none;
          @media screen and (min-width: 500px) {
            display: inline-block;
          }
          font-size: 20px;
          font-family: 'Montserrat', sans-serif;
          font-weight: 600;
          @include vertical-align;
          margin-left: 10px;
        }
        &:hover {
          opacity: 1;
        }
      }

    .quotes-main {
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

      .random-quote__container {
        position: relative;
        padding: 0 7vw;
        @media screen and (min-width: 728px) {
          padding: 0 15vw;
        }
        box-sizing: border-box;
      }

        #reference-object {
          display: none;
        }

        .random-quote__main {
            margin-bottom: 34px;
            max-width: 520px;

            .random-quote__quote {
                margin-bottom: 4vh;
                font-size: 28px;
                font-weight: 600;
                line-height: 1.29;
            }

            .quote-separator {
                font-size: 38px;
                opacity: 0.8;
            }

            .quote-author {
                font-size: 20px;
                line-height: 1.8;
                font-weight: 600;
                opacity: 0.8;
            }
        }

        .random-quote-buttons__bookmark {
            display: inline-block;
            outline: none;
            text-decoration: none;
            opacity: 0.8;
            transition: all 0.3s ease;
            &:hover {
              cursor: pointer;
              opacity: 1;
            }
        }

        .random-quote-buttons__share {
            display: inline-block;
            outline: none;
            text-decoration: none;
            opacity: 0.8;
            transition: all 0.3s ease;
            margin-left: 38px;
            &:hover {
              cursor: pointer;
              opacity: 1;
            }
        }

    .quotes-footer {
        bottom: 24px;
        left: 7vw;
        right: 7vw;
        position: absolute;
        z-index: 2;

        .previous-button {
            text-decoration: none;
            color: #fff;
            float: left;
            opacity: 0.8;
            transition: all 0.15s ease;

            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }

        .next-button {
            text-decoration: none;
            color: #fff;
            float: right;
            opacity: 0.8;
            transition: all 0.15s ease;

            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }
    }
